<?xml version="1.0" encoding="UTF-8" ?>
<!--
  #%L
  FocusSNS Runtime
  %%
  Copyright (C) 2011 - 2013 FocusSNS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as 
  published by the Free Software Foundation, either version 2.1 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->

<!--
  ~ Copyright (C) 2011-2013 FocusSNS.
  ~
  ~ This library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 2.1 of the License, or (at your option) any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA 02110-1301  USA
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.console.UserDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.console.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.console.User">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT last_insert_id()
		</selectKey>
        INSERT INTO tb_user (username, password)
        VALUES (#{username}, #{password})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT * FROM tb_user WHERE id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.console.User">
		UPDATE tb_user
		<set>
			<if test="username != null" >
		        username = #{username},
			</if>
            <if test="password != null" >
                password = #{password},
            </if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM tb_user WHERE id = #{id}
	</delete>

    <insert id="assign" parameterType="java.util.Map">
        INSERT INTO tb_user_role (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

    <delete id="unassign" parameterType="java.util.Map">
        delete from tb_user_role
        where user_id = #{userId} and role_id = #{roleId}
    </delete>
</mapper>