<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
      - 安全过滤框架 Apache Shiro
      - 安全过滤 及 权限控制
      -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/signin" />
        <property name="filterChainDefinitions">
            <value>
                / = anon
                /index = anon
                /signup = anon
                /kaptcha = $kaptcha
                /static/** = anon
                /widget/** = anon
                /signin = $kaptcha, $authc
                /signout = logout
                /** = $user
            </value>
        </property>
    </bean>

    <bean id="$kaptcha" class="org.focusns.security.filter.KaptchaFilter" />
    <bean id="$user" class="org.focusns.security.filter.UserFilter" />
    <bean id="$authc" class="org.focusns.security.filter.FormAuthenticationFilter" />

    <!-- Security Manager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="authenticator" ref="authenticator" />
        <property name="realm" ref="defautlRealm" />
    </bean>
    <bean id="authenticator" class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
        <property name="authenticationListeners">
            <list>
                <bean class="org.focusns.security.listener.DefaultAuthenticationListener" />
            </list>
        </property>
    </bean>

    <bean id="defautlRealm" class="org.focusns.security.realm.DefaultAuthorizingRealm">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="credentialsMatcher" ref="md5CredentialsMatcher" />
    </bean>

    <bean id="md5CredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="MD5" />
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

    <!--
      - 页面组件框架
      -->
    <bean id="pageFilter" class="org.focusns.common.web.page.PageFilterFactoryBean">
        <property name="pageEngine" ref="pageEngine" />
        <property name="pageFactory" ref="pageFactory" />
    </bean>

    <bean id="pageEngine" class="org.focusns.common.web.page.engine.widget.WidgetPageEngine">
        <property name="pageRenderInterceptors">
            <list>
                <bean class="org.focusns.web.page.interceptor.PageSecurityInterceptor" />
                <bean class="org.focusns.web.page.interceptor.PageRenderParameterResolver" />
            </list>
        </property>
        <property name="widgetActionInterceptors">
            <list>
                <bean class="org.focusns.web.page.interceptor.WidgetActionParameterResolver" />
            </list>
        </property>
    </bean>

    <bean id="pageFactory" class="org.focusns.common.web.page.config.xml.XmlPageFactory">
        <property name="pageKeyGenerator">
            <bean class="org.focusns.web.page.config.SimplePageKeyGenerator" />
        </property>
    </bean>

    <!-- Security Lifecycle -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Enable Annotations -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>