<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.core.ProjectUserDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.core.ProjectUser">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <association property="project" javaType="org.focusns.model.core.Project">
            <id property="id" column="project_id"/>
            <result property="code" column="project_code"/>
            <result property="title" column="project_title"/>
            <result property="description" column="project_description"/>
            <result property="createById" column="project_create_by_id"/>
            <result property="modifyById" column="project_modify_by_id"/>
        </association>
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.core.ProjectUser">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_project_user (username, password, email)
		values (#{username}, #{password}, #{email})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_project_user where id = #{id}
	</select>

    <select id="selectWithProject" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select a.*,
               b.id as project_id,
               b.code as project_code,
               b.title as project_title,
               b.description as project_description,
               b.create_by_id as project_create_by_id,
               b.modify_by_id as project_modify_by_id
        from tb_project_user a, tb_project b
        where a.project_id = b.id and a.id = #{id}
    </select>

	<select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from tb_project_user where username = #{username}
	</select>
	
	<update id="update" parameterType="org.focusns.model.core.ProjectUser">
		update tb_project_user
		<set>
			<if test="username != null" >
		        username = #{username},
			</if>
			<if test="password != null" >
		        password = #{password},
			</if>
			<if test="email != null" >
		        email = #{email},
			</if>
            <if test="projectId > 0" >
		        project_id = #{projectId},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_project_user where id = #{id}
	</delete>

    <insert id="insertRole" parameterType="java.util.Map">
        insert into tb_project_user_role (project_id, user_id, role_id)
        values (#{projectId}, #{userId}, #{roleId})
    </insert>

    <delete id="deleteRole" parameterType="java.util.Map">
        delete from tb_project_user_role
        where project_id = #{projectId} and user_id = #{userId} and role_id = #{roleId}
    </delete>

</mapper>