<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.core.ProjectHistroyDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.core.ProjectHistroy">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
		<result column="target_id" property="targetId" jdbcType="BIGINT" />
		<result column="target_type" property="targetType" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="create_by_id" property="createById" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.core.ProjectHistroy">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
        <choose>
            <when test="parentId > 0">
                insert into tb_project_histroy (content, create_at, target_id, target_type, parent_id, project_id, create_by_id)
                values (#{content}, #{createAt}, #{targetId}, #{targetType}, #{parentId}, #{projectId}, #{createById})
            </when>
            <otherwise>
                insert into tb_project_histroy (content, create_at, target_id, target_type, project_id, create_by_id)
                values (#{content}, #{createAt}, #{targetId}, #{targetType}, #{projectId}, #{createById})
            </otherwise>
        </choose>
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_project_histroy where id = #{id}
	</select>

	<update id="update" parameterType="org.focusns.model.core.ProjectHistroy">
		update tb_project_histroy 
		<set>
			<if test="content != null" >
		        content = #{content},
			</if>
			<if test="createAt != null" >
		        create_at = #{createAt},
			</if>
			<if test="targetId > 0" >
		        target_id = #{targetId},
			</if>
			<if test="targetType != null" >
		        target_type = #{targetType},
			</if>
            <if test="parentId > 0" >
                project_id = #{projectId},
            </if>
			<if test="projectId > 0" >
		        project_id = #{projectId},
			</if>
            <if test="createById > 0" >
		        create_by_id = #{createById},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_project_histroy where id = #{id}
	</delete>

    <select id="selectByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from tb_project_histroy where parent_id = #{parentId}
    </select>

    <sql id="fetchByProjectIdSql">
        from tb_project_histroy a
        where a.project_id = #{projectId} and a.parent_id is null
        order by a.create_at desc
    </sql>
    <select id="fetchByProjectId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select a.* <include refid="fetchByProjectIdSql"/>
    </select>
     <select id="fetchByProjectIdCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) <include refid="fetchByProjectIdSql"/>
    </select>
</mapper>