<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.core.ProjectDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.core.Project">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
		<result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
		<result column="create_by_id" property="createById" jdbcType="BIGINT" />
		<result column="modify_by_id" property="modifyById" jdbcType="BIGINT" />
		<result column="category_id" property="categoryId" jdbcType="BIGINT" />
		<result column="private" property="private" jdbcType="BOOLEAN" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.core.Project">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_project (code, title, description, create_at, modify_at, private, create_by_id, modify_by_id, category_id) 
		values (#{code}, #{title}, #{description}, #{createAt}, #{modifyAt}, #{private}, #{createById}, #{modifyById}, #{categoryId})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_project where id = #{id}
	</select>

	<select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from tb_project where code = #{code}
	</select>
	
	<update id="update" parameterType="org.focusns.model.core.Project">
		update tb_project 
		<set>
			<if test="code != null" >
		        code = #{code},
			</if>
			<if test="title != null" >
		        title = #{title},
			</if>
			<if test="description != null" >
		        description = #{description},
			</if>
			<if test="createAt != null" >
		        create_at = #{createAt},
			</if>
			<if test="modifyAt != null" >
		        modify_at = #{modifyAt},
			</if>
			<if test="private != null" >
		        private = #{private},
			</if>
			<if test="createById != null" >
		        create_by_id = #{createById},
			</if>
			<if test="modifyById != null" >
		        modify_by_id = #{modifyById},
			</if>
			<if test="categoryId != null" >
		        category_id = #{categoryId},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_project where id = #{id}
	</delete>

</mapper>