<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.core.ProjectPermissionDao">

    <cache />

	<resultMap id="BaseResultMap" type="org.focusns.model.core.ProjectPermission">
		<id column="id" property="id" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="project_role_id" property="projectRoleId" jdbcType="BIGINT" />
        <result column="project_authority_id" property="projectAuthorityId" jdbcType="BIGINT" />
        <result column="enabled" property="enabled" jdbcType="BOOLEAN" />
	</resultMap>

	<insert id="insert" parameterType="org.focusns.model.core.ProjectPermission">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
        insert into tb_project_permission (project_id, project_role_id, project_authority_id, enabled)
        values (#{projectId}, #{projectRoleId}, #{projectAuthorityId}, #{enabled})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_project_permission where id = #{id}
	</select>

    <select id="selectByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select a.*
        from tb_project_permission a, tb_project_role b
        where a.project_role_id = b.id and a.project_id = #{projectId}
            order by a.project_role_id, b.level
    </select>

	<update id="update" parameterType="org.focusns.model.core.ProjectPermission">
		update tb_project_permission
		<set>
			<if test="projectId > 0" >
		        project_id = #{projectId},
			</if>
			<if test="projectRoleId > 0" >
                project_role_id = #{projectRoleId},
			</if>
            <if test="projectAuthorityId > 0" >
                project_authority_id = #{projectAuthorityId},
            </if>
            <if test="true">
                enabled = #{enabled}
            </if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_project_permission where id = #{id}
	</delete>

</mapper>