<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.blog.BlogCommentDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.blog.BlogComment">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="title" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
		<result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
        <result column="post_id" property="postId" jdbcType="BIGINT" />
        <result column="create_by_id" property="createById" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.blog.BlogComment">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_blog_comment (title, content, create_at, modify_at, post_id, create_by_id) 
		values (#{title}, #{content}, #{createAt}, #{modifyAt}, #{postId}, #{createById})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_blog_comment where id = #{id}
	</select>

	<select id="selectByPostId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select a.*
        from tb_blog_comment a, tb_bost_post b,
        where a.post_id = b.id and b.id = #{postId}
	</select>
	
	<update id="update" parameterType="org.focusns.model.blog.BlogComment">
		update tb_blog_comment 
		<set>
			<if test="title != null" >
		        title = #{title},
			</if>
			<if test="content != null" >
		        content = #{content},
			</if>
            <if test="craeteAt != null" >
		        create_at = #{createAt},
			</if>
            <if test="modifyAt != null" >
		        modify_at = #{modifyAt},
			</if>
            <if test="postId != null" >
                post_id = #{postId},
			</if>
            <if test="createById != null" >
		        create_by_id = #{createById},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_blog_comment where id = #{id}
	</delete>

    <sql id="fetchByPostIdSql">
        form tb_blog_comment where post_id = #{postId}
    </sql>
    <select id="fetchByPostId" parameterType="java.util.Map" resultMap="BaseResultMap">
       select * <include refid="fetchByPostIdSql" />
    </select>
    <select id="fetchByPostIdCount" parameterType="java.util.Map" resultMap="BaseResultMap">
       select count(1) <include refid="fetchByPostIdSql" />
    </select>
</mapper>