<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.forum.ForumCategoryDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.forum.ForumCategory">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="label" property="label" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by_id" property="createdById" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.forum.ForumCategory">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_forum_category (label, created_at, created_by_id, project_id)
		values (#{label}, #{createdAt}, #{createdById}, #{projectId})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_forum_category where id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.forum.ForumCategory">
		update tb_blog_comment 
		<set>
			<if test="label != null" >
		        label = #{label},
			</if>
			<if test="createdAt != null" >
		        created_at = #{createdAt},
			</if>
            <if test="modifiedAt != null" >
		        modified_at = #{modifiedAt},
			</if>
            <if test="projectId > 0" >
                project_id = #{projectId},
			</if>
            <if test="createdById > 0" >
                created_by_id = #{createdById},
            </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_forum_category where id = #{id}
	</delete>
</mapper>