<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.forum.ForumPostDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.forum.ForumPost">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="topic_id" property="topicId" jdbcType="BIGINT" />
        <result column="create_by_id" property="createById" jdbcType="BIGINT" />
        <result column="modify_by_id" property="modifyById" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.forum.ForumPost">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_forum_post (title, content, create_at, modify_at, project_id, topic_id, create_by_id, modify_by_id)
		values (#{title}, #{content}, #{createAt}, #{modifyAt}, #{projectId}, #{topicId}, #{createById}, #{modifyById})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_forum_post where id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.forum.ForumPost">
		update tb_blog_comment 
		<set>
			<if test="title != null" >
		        title = #{title},
			</if>
            <if test="content != null" >
                content = #{content},
            </if>
			<if test="createAt != null" >
		        create_at = #{createAt},
			</if>
            <if test="modifyAt != null" >
		        modify_at = #{modifyAt},
			</if>
            <if test="projectId > 0" >
                project_id = #{projectId},
			</if>
            <if test="topicId > 0" >
                topic_id = #{topicId},
            </if>
            <if test="createById > 0" >
                create_by_id = #{createById},
            </if>
            <if test="modifyById > 0" >
                modify_by_id = #{modifyById},
            </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_forum_post where id = #{id}
	</delete>
</mapper>