.admin-blog-category {
    padding:10px;
}
.admin-blog-category .blog-category-list {
    padding-top:10px;
}
.admin-blog-category .blog-category-list ul li {
    padding-bottom:5px;
}
.admin-blog-category .blog-category-list ul li.last {
    padding-bottom:0;
}
.admin-menu {
    padding:10px 0;
}
.admin-menu h3 {
    padding-left: 10px;
    font-weight: bold;
}
.admin-menu ul {
    margin-bottom: 5px;
}
.admin-menu ul li {
    padding:1px 0 1px 20px;
}

.admin-logo {
    padding:10px;
}
.admin-logo .cropper-wrapper img {
    max-width:100%;
}
.admin-project {
    padding:10px;
}
.admin-project label {
    display: block;
    font-weight: bold;
}
.admin-project textarea {
    width: 60%;
}
.admin-project div {
    margin-bottom: 5px;
}
.admin-attribute {
    padding:10px;
}
.admin-attribute ul {
    margin-top: 20px;
}
.admin-post {
    padding:10px;
}
.admin-post form div {
    padding-bottom: 5px;
}
.admin-post label {
    display: block;
    font-weight: bold;
}
.admin-post div.summary textarea {
    width: 98.5%;
    height: 100px;
}
.admin-post div.content textarea {
    width: 98.5%;
    height: 400px;
}

.admin-category {
    padding: 10px;
}