body {
	margin:auto;
	width:980px;
}
#left-column,
#main-column,
#right-column{
    min-height:500px;
}
.copyright {
	padding-bottom:20px;
	text-align:center;
	display:block;
}
.copyright strong span {
	color:#045A8B;
	font-weight:bold;
}
.area  {
	position:relative;
}
#logo {
	margin:6px 10px 10px 10px;
	width:120px;
}
#logo a {
	background:url(../img/global.png) no-repeat;
	height:22px;
	display:block;
	text-indent:-12345px;
}
#user-menu {
	float:right;
	position:absolute;
	top:0px;
	right:10px;
}
#user-menu ul li {
    display: inline;
}
#main-menu {
    margin-top: 10px;
}
#main-menu .bar {
	background:url(../img/global.png) no-repeat 0 -470px;
}
#main-menu .bar-in {
	background: url(../img/global.png) no-repeat 0 -510px;
	height:38px;
	position:relative;
}
#main-menu .bar-in ul.menu {
	display:inline;
	list-style-type: none ;
	position:absolute;
	padding:1px;
	margin-left:10px;
}
#main-menu .bar-in ul.menu li {
	float:left;
	height:36px;

}
#main-menu .bar-in ul.menu li:hover {
	background-color:#EEE;
}
#main-menu .bar-in ul.menu li a {
	color:#069;
	padding:0 10px 0 10px;
	line-height:38px;
	text-decoration:none;
}
#main-menu .bar-in .search {
	position:absolute;
	display:inline;
	line-height:20px;
	height:20px;
	right:10px;
	top:8px;
}
#main-menu .bar-in .search select {
	height:22px;
	vertical-align:middle;
}
#main-menu .bar-in .search input[type=text] {
	height:18px;
	vertical-align:middle;
}
#main-menu .bar-in .search input[type=submit] {
	color:#FFF;
	padding: 0 2px 0 2px;
	height:22px;
	border:1px solid #045A8B;
	background-color:#0571A6;
	vertical-align:middle;
	right:0;
	top:0;
}
#project-menu {
}
#project-menu ul.menu {
	list-style-type:none;
}
#project-menu .subbar-in {
	padding: 10px 20px 20px 20px;
	border-bottom:1px solid #DDDDDD;
}
#project-menu .subbar ul.menu li{
	float: left;
	padding: 3px 10px 0 10px;
	margin-right:5px;
	border:1px solid #DDDDDD;
	background-color:#FAFAFA;
}
#project-menu .subbar ul.menu li a {
	text-decoration:none;
}
#project-menu .subbar ul.menu li.active {
	background-color:#FFFFFF;
}
#left-column {
	width:15%;
}
#main-column {
	width:55%;
}
#right-column {
	width:26%;
}
#bd {
    padding-top:10px;
}
/* Widget Css */
.widget {
    margin-bottom: 10px;
	border:1px solid #DDD;
}
.widget .widget-hd {
	background-color:#FAFAFA;
	border-bottom:1px solid #DDD;
	height:28px;
}
.widget .widget-hd h2 {
	line-height:28px;
	padding: 0 10px 0 10px;
	color:#666;
	font-weight:bold;
}
.widget .widget-bd {
}
.widget .widget-ft {
	padding: 0px 10px 10px 10px;
}
.widget .widget-ft .more {
	text-align:right;
}

#left ul li {
	display:inline;
}

#left .avatar {
	width:56px;
	height:56px;
	margin-right:5px;
}

input {
    padding:1px;
}
textarea {
    padding:5px;
}

button {
    color:#FFF;
    padding: 0 2px 0 2px;
    height:22px;
    border:1px solid #045A8B;
    background-color:#0571A6;
    vertical-align:middle;
    right:0;
    top:0;
}

img.thumbnail{
    position:absolute;
    display: inline-block;
	border: 1px solid #DDD;
	padding:2px;
	background-color:#FFFFFF;
}

a {
    text-decoration:none;
}

.clear {
    clear:both;
}

.login  {
    padding:50px;
    border: 1px solid #DDDDDD;
}
.login div {
    padding: 5px 0;
}
.login label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.login .submit {
    padding-left: 105px;
}

.register {
    padding:50px;
    border: 1px solid #DDDDDD;
    clear:both;
}
.register .register-left {
    float:left;
    display:inline-block;
    width:70%;
}
.register .register-left div {
    padding:5px 0;
}
.register .register-right {
    display:inline-block;
    width:30%;
}
.register .register-right ul li {
    padding:7px 0 7px 24px;
    background:url('../img/social_icon.png') no-repeat transparent;
}
.register .register-right ul li.sina {
    background-position: 0 -97px;
}
.register .register-right ul li.renren {
    background-position: 0 7px;
}
.register .register-right ul li.tencent {
    background-position: 0 -164px;
}