#sidebar {
    width: 28%;
	min-height: 400px;
}

#main {
	width: 70%
}

#rightbar {
	width: 28%;
}

#main table {
	table-layout:fixed;
	width: 100%;
	border: solid 1px black;
}

#main table tr {
}
#main table th {
	width:100px;
	border: solid 1px black;
	padding: 5px;
	white-space: nowrap;
}
#main table td {
	border: solid 1px black;
	padding: 5px;
}
#main table.detail th {
	text-align: right;
	vertical-align: bottom;
}

#main table.detail td {
	word-break: break-all;
}
#main table.list th {
	text-align: center;
}
#main table.list td {
	text-align: center;
}
div.submit {
	padding-top: 5px;
	text-align: center;	
}
form.hidden {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#login {
    margin-top: 30px;
}

div#profile img.logo {
    float: right;
}
div#profile {
    margin: 10px;
}
div#stream .histroy {
    margin: 10px;
    padding: 5px;
    border: #EFEFEF solid 1px;
    background-color: #FAFAFA;
}