.messages {
    padding:10px;
}
.message-action {
    padding:10px;
}
.message-box {
    padding:10px;
}

.message-box ul li {
    padding:1px 0;
}
.message-edit {
    padding:10px;
}
.message-edit .title {
    padding-bottom:10px;
}
.message-edit .title label {
    display:block;
    font-weight:bold;
}
.message-edit .content {
    padding-bottom:10px;
}
.message-edit .content label {
    display:block;
    font-weight:bold;
}
.message-edit .content textarea {
    width:98.5%;
    min-height:250px;
}