.weibo-box {
	margin-left: 76px;
	padding-bottom:10px;
	background:url(bg_textarea.png) no-repeat bottom left;
}
.weibo-box-in {
	min-height:50px;
	padding: 10px 10px 0 24px;
	background:url(bg_textarea.png) no-repeat;
}
.weibo-box-in textarea {
	height:50px;
	width:100%;
}
.weibo-actions {
	padding-top:5px;
}
.weibo-actions:after {
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}
.weibo-actions .action-share {
}
.weibo-actions .action-share button {
	float:right;
	color:#FFF;
	height:22px;
	padding:0 2px 0 2px;
	border: 1px solid #045A8B;
	background-color:#0571A6;
	vertical-align:middle;
}
.weibo-actions .action-share button:hover {
	background-color:#045A8B;
}

.avatar:hover {
	border-color:#BFBFBF;
}

.project {
	padding:10px;
	min-height:100px;
    position: relative;
	background-color:#DDF0F8;
}
.project .project-logo {
    float:right;
    padding:2px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.project .project-logo img {
    width:80px;
	height:80px;
}
.project .project-title {
	margin-bottom:10px;
}
.project .project-title h3 {

	font-size:16px;
	font-weight:bold;
}
.project .project-description {
	min-height:65px;
}
.project .project-attributes {
	padding:5px;
	background-color:#FFFFFF;
	border:1px solid #DDDDDD;
}
.project .project-attributes ul li {
	margin-bottom:5px;
	padding-bottom:2px;
	border-bottom:1px dashed #DDDDDD;
}
.project .project-attributes ul li span.strong {
	font-weight:bold;
}

.project-links {
    padding:10px;
}
.project-links li {
    display: inline-block;
    margin-bottom: 5px;
}
.project-links .project-link {
    padding:2px;
    border: 1px solid #DDDDDD;
}
.project-links .project-link img {
    width:50px;
    height:50px;
}

.share {
	padding:10px;
	padding-bottom: 41px;
	background-color:#FAFAFA;
}
.share textarea {
	width:97.8%;
	height:50px;
}
.share .submit {
    position:relative;
}
.share .submit button {
    position:absolute;
    top:10px;
    right:0;
}

.histories {
}
.histories ul li {
    padding:0 10px;
    border-bottom:1px solid #DDD;
}
.histories ul li.last {
    border-bottom:none;
}
.histories .history {
    position:relative;
    padding-left:65px;
    padding-top:10px;
    padding-bottom:10px;
    vertical-align:bottom;
}
.histories .history .thumbnail {
    top:10px;
    left:0;
    width:50px;
    height:50px;
}
.histories .history .content {
    min-height:30px;
}

.histories .history .status {
    padding:10px 0;
}

.histories .history .history-reply {

}
.histories .history .history-reply .submit {
    position:relative;
    padding:16px;
}
.histories .history .history-reply .submit button {
    position:absolute;
    top:10px;
    right:0

}
.histories .history .history-reply textarea {
    width:97.4%;
    height:18px;
}

.histories .history .history-children ul li {
    position:relative;
    padding:0;
    border-bottom:1px dashed #DDD;
}
.histories .history .history-children ul li.last,
.histories .history .history-children ul li.only{
    border-bottom:none;
}
.histories .history .history-children ul li .history {
    padding-left:55px;
    padding-bottom:0;
}
.histories .history .history-children ul li .history .content {
    min-height:20px;
}
.histories .history .history-children ul li .thumbnail {
    width:40px;
    height:40px;
}
