.setting-blog-category {
    padding:10px;
}
.setting-blog-category .blog-category-list {
    padding-top:10px;
}
.setting-blog-category .blog-category-list ul li {
    padding-bottom:5px;
}
.setting-blog-category .blog-category-list ul li.last {
    padding-bottom:0;
}
.setting-menu {
    padding:10px 0;
}
.setting-menu h3 {
    padding-left: 10px;
    font-weight: bold;
}
.setting-menu ul {
    margin-bottom: 5px;
}
.setting-menu ul li {
    padding:1px 0 1px 20px;
}

.setting-logo {
    padding:10px;
}
.setting-logo .cropper-wrapper img {
    max-width:100%;
}
.setting-project {
    padding:10px;
}
.setting-project label {
    display: block;
    font-weight: bold;
}
.setting-project textarea {
    width: 60%;
}
.setting-project div {
    margin-bottom: 5px;
}
.setting-attribute {
    padding:10px;
}
.setting-attribute ul {
    margin-top: 20px;
}
.setting-post {
    padding:10px;
}
.setting-post form div {
    padding-bottom: 5px;
}
.setting-post label {
    display: block;
    font-weight: bold;
}
.setting-post div.summary textarea {
    width: 98.5%;
    height: 100px;
}
.setting-post div.content textarea {
    width: 98.5%;
    height: 400px;
}

.setting-category {
    padding: 10px;
}