/* Global */
ul {
    list-style: none outside none;
}
/* layout */
#doc-bd {
    padding-top: 80px;
}
#doc-ft p {
    padding: 20px 0;
    border-top: 1px #EEE solid;
}
@media (min-width: 768px) and (max-width: 979px) {
    #doc-bd {
        padding-top: 0;
    }
}

/* SignWidget */
#signin .widget-head h3 {
    padding-left: 130px;
    border-bottom: 1px solid #EEE;
}
#signin .widget-body {
    padding-top: 30px;
}
#signup .widget-head h3 {
    padding-left: 130px;
    border-bottom: 1px solid #EEE;
}
#signup .widget-body {
    padding-top: 30px;
}
/* UserMenuWidget */
#menu-user .avatar {
    max-width: none;
}

/* ProjectLinkWidget */
#id_31f672f893e3179261bafc5b353b9c78 .widget-head {
    padding-left: 5px;
}
#id_31f672f893e3179261bafc5b353b9c78 ul {
    margin: 0 5px;
    padding: 0;
}
#id_31f672f893e3179261bafc5b353b9c78 ul li {
    display: inline-block;
    padding-bottom: 3px;
}

/* ProjectHistoryWidget edit */
#project-history-edit textarea {
    display: block;
    width: 98%;
    height: 60px;
}
/* ProjectHistoryWidget list */
#project-history-list form {
    padding-top: 10px;
    padding-left:60px;
}
#project-history-list form textarea {
    display: block;
    width: 98.3%;
    height: 24px;
}

/* ProjectUserWidget edit */
#project-user-edit .jcrop-holder {
    margin-bottom: 10px;
}

/* BlogPostWidget edit*/
#blog-post-edit textarea {
    width: 100%;
    height: 300px;
}
#blog-post-edit button {
    margin-top: 10px;
}

/* BlogPostWidget list*/
#blog-post-list .widget-head {
    padding-top: 15px;
}
