<?xml version="1.0" encoding="UTF-8" ?>
<!--
  #%L
  FocusSNS Runtime
  %%
  Copyright (C) 2011 - 2013 FocusSNS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as 
  published by the Free Software Foundation, either version 2.1 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.msg.MessageBoxDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.msg.MessageBox">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="label" property="label" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="create_by_id" property="createById" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.msg.MessageBox">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_message_box (label, type, create_at, project_id, create_by_id)
		values (#{label}, #{type}, #{createAt}, #{projectId}, #{createById})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_message_box where id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.msg.MessageBox">
		update tb_blog_comment 
		<set>
			<if test="label != null" >
		        label = #{label},
			</if>
            <if test="type != null" >
                type = #{type},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt},
            </if>
            <if test="projectId > 0" >
                project_id = #{projectId},
			</if>
            <if test="createById > 0" >
                create_by_id = #{createById},
            </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_message_box where id = #{id}
	</delete>

    <select id="selectList" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from tb_message_box where project_id = #{projectId}
    </select>

</mapper>