<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.team.TeamMemberDao">

    <cache />

	<resultMap id="BaseResultMap" type="org.focusns.model.team.TeamMember">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="modified_at" property="modifiedAt" jdbcType="TIMESTAMP" />
        <result column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT" />
        <result column="create_by_id" property="createdById" jdbcType="BIGINT" />
        <result column="modified_by_id" property="modifiedById" jdbcType="BIGINT" />
	</resultMap>

	<insert id="insert" parameterType="org.focusns.model.team.TeamMember">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
		insert into tb_team_member (created_at, modified_at, user_id, role_id, project_id, created_by_id, modified_by_id)
		values (#{createdAt}, #{modifiedAt}, #{userId}, #{roleId}, #{projectId}, #{createdById}, #{modifiedById})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_team_member where id = #{id}
	</select>

	<update id="update" parameterType="org.focusns.model.team.TeamMember">
		update tb_team_member
		<set>
			<if test="createdAt != null" >
                created_at = #{createdAt},
			</if>
			<if test="modifiedAt != null" >
		        modified_at = #{modifiedAt},
			</if>
            <if test="userId > 0" >
                user_id = #{userId},
            </if>
            <if test="roleId > 0" >
                role_id = #{roleId},
            </if>
            <if test="projectId > 0" >
		        project_id = #{projectId},
			</if>
            <if test="createdById > 0" >
                created_by_id = #{createdById},
            </if>
            <if test="modifiedById > 0" >
                modified_by_id = #{modifiedById},
            </if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_team_member where id = #{id}
	</delete>


    <sql id="fetchByProjectIdSql">
        from tb_team_member a where a.project_id = #{projectId}
    </sql>
    <select id="fetchByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select a.* <include refid="fetchByProjectIdSql" />
    </select>
    <select id="fetchByProjectIdCount" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(1) <include refid="fetchByProjectIdSql" />
    </select>


</mapper>