<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.cms.ArticleDao">

    <cache />

	<resultMap id="BaseResultMap" type="org.focusns.model.cms.Article">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="from" property="from" jdbcType="VARCHAR" />
        <result column="link" property="link" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="modified_at" property="modifiedAt" jdbcType="TIMESTAMP" />
        <result column="remove_at" property="removeAt" jdbcType="TIMESTAMP" />
        <result column="created_by_id" property="createdById" jdbcType="BIGINT" />
        <result column="modified_by_id" property="modifiedById" jdbcType="BIGINT" />
        <result column="remove_by_id" property="removeById" jdbcType="BIGINT" />
        <result column="category_id" property="categoryId" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.cms.Article">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
        insert into tb_article (title, summary, content, created_at, modified_at, remove_at, created_by_id, modified_by_id, remove_by_id, category_id)
        values (#{title}, #{summary}, #{content}, #{createdAt}, #{modifiedAt}, #{removeAt}, #{createdById}, #{modifiedById}, #{removeById}, #{categoryId})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_article where id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.cms.Article">
		update tb_article
		<set>
			<if test="title != null" >
		        title = #{title},
			</if>
            <if test="summary != null" >
                title = #{summary},
            </if>
			<if test="content != null" >
		        content = #{content},
			</if>
            <if test="craeteAt != null" >
		        created_at = #{createdAt},
			</if>
            <if test="modifiedAt != null" >
		        modified_at = #{modifiedAt},
			</if>
            <if test="removeAt != null" >
                remove_at = #{removeAt},
            </if>
            <if test="createdById > 0" >
                created_by_id = #{createdById},
            </if>
            <if test="modifiedById > 0" >
                modified_by_id = #{modifiedById},
            </if>
            <if test="removeById > 0" >
                remove_by_id = #{removeById},
            </if>
            <if test="categoryId > 0" >
                category_id = #{categoryId},
            </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_article where id = #{id}
	</delete>

    <sql id="fetchByProjectAndCategoryIdSql">
        <choose>
            <when test="categoryId > 0">
                from tb_article a, tb_blog_category b
                where a.category_id = b.id and b.id = #{categoryId}
                order by a.created_at desc
            </when>
            <otherwise>
                from tb_article a
                where a.project_id = #{projectId}
                order by a.created_at desc
            </otherwise>
        </choose>
    </sql>
    <select id="fetchByProjectAndCategoryId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * <include refid="fetchByProjectAndCategoryIdSql"/>
    </select>
    <select id="fetchByProjectAndCategoryIdCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) <include refid="fetchByProjectAndCategoryIdSql"/>
    </select>
</mapper>