<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.focusns.dao.cms.ArticleKeywordDao">

	<resultMap id="BaseResultMap" type="org.focusns.model.cms.ArticleKeyword">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="label" property="label" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insert" parameterType="org.focusns.model.cms.ArticleKeyword">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select last_insert_id()
		</selectKey>
        insert into tb_article_keyword (label, category_id) values (#{label}, #{categoryId})
	</insert>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from tb_article_keyword where id = #{id}
	</select>
	
	<update id="update" parameterType="org.focusns.model.cms.ArticleKeyword">
		update tb_article_keyword
		<set>
			<if test="label != null" >
                label = #{label},
			</if>
            <if test="categoryId > 0">
                category_id = #{categoryId}
            </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from tb_article_keyword where id = #{id}
	</delete>
</mapper>