<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd


		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    
    <cache:annotation-driven cache-manager="cacheManager"/>  
    
    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager">
        <property name="cacheNames">
            <list>
                <!-- core -->
                <value>UserCache</value>
                <value>ProjectCache</value>
                <value>ProjectCategoryCache</value>
                
                <!-- blog -->
                <value>BlogTagCache</value>
                <value>BlogPostCache</value>
                <value>BlogCommentCache</value>
            </list>
        </property>
    </bean>
 
</beans>
