<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2011-2013 FocusSNS.
  ~
  ~ This library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 2.1 of the License, or (at your option) any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA 02110-1301  USA
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan base-package="org.focusns.service">
		<context:include-filter type="annotation" expression="org.focusns.common.event.annotation.Subscriber" />
	</context:component-scan>
    
    <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>
    
	<task:executor id="taskExecutor" pool-size="5" />
	<task:scheduler id="taskScheduler" pool-size="5" />
    
    <aop:aspectj-autoproxy>
        <aop:include name="eventInterceptor" />
    </aop:aspectj-autoproxy>
    <!-- Event Interceptor -->
    <bean id="eventInterceptor" class="org.focusns.common.event.support.EventInterceptor" />
    <!-- Event Multicaster -->
    <bean id="applicationEventMulticaster" class="org.focusns.common.event.support.EventMulticaster">
        <property name="taskExecutor" ref="taskExecutor" />
    </bean>
    
</beans>
