<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  focusns-runtime
  %%
  Copyright (C) 2011 - 2013 FocusSNS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as 
  published by the Free Software Foundation, either version 2.1 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->

<!--
  ~ Copyright (C) 2011-2013 FocusSNS.
  ~
  ~ This library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 2.1 of the License, or (at your option) any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA 02110-1301  USA
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="org.focusns.dao">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
	</context:component-scan>
	
	<tx:annotation-driven />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initSize}" />
		<property name="maxActive" value="${jdbc.maxSize}" />
		<property name="defaultAutoCommit" value="false" />
	</bean>
    
    <bean id="flyway" class="com.googlecode.flyway.core.Flyway" init-method="migrate">
        <property name="dataSource" ref="dataSource" />
        <property name="table" value="TB_SCHEMA_VERSION" />
    </bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" depends-on="flyway">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<set>
				<!-- console -->
                <value>classpath:/org/focusns/dao/console/impl/UserMapper.xml</value>
                <value>classpath:/org/focusns/dao/console/impl/RoleMapper.xml</value>
                <value>classpath:/org/focusns/dao/console/impl/AuthorityMapper.xml</value>

				<!-- core -->
				<value>classpath:/org/focusns/dao/core/impl/ProjectUserMapper.xml</value>
                <value>classpath:/org/focusns/dao/core/impl/ProjectRoleMapper.xml</value>
                <value>classpath:/org/focusns/dao/core/impl/ProjectAuthorityMapper.xml</value>
                <value>classpath:/org/focusns/dao/core/impl/ProjectMapper.xml</value>
                <value>classpath:/org/focusns/dao/core/impl/ProjectLinkMapper.xml</value>
				<value>classpath:/org/focusns/dao/core/impl/ProjectFeatureMapper.xml</value>
				<value>classpath:/org/focusns/dao/core/impl/ProjectAttributeMapper.xml</value>
				<value>classpath:/org/focusns/dao/core/impl/ProjectHistoryMapper.xml</value>
                <value>classpath:/org/focusns/dao/core/impl/ProjectCategoryMapper.xml</value>
                
                <!-- blog -->
                <value>classpath:/org/focusns/dao/blog/impl/BlogCategoryMapper.xml</value>
                <value>classpath:/org/focusns/dao/blog/impl/BlogPostMapper.xml</value>
                <value>classpath:/org/focusns/dao/blog/impl/BlogCommentMapper.xml</value>

                <!-- forum -->
                <value>classpath:/org/focusns/dao/forum/impl/ForumCategoryMapper.xml</value>
                <value>classpath:/org/focusns/dao/forum/impl/ForumTopicMapper.xml</value>
                <value>classpath:/org/focusns/dao/forum/impl/ForumPostMapper.xml</value>

                <!-- event -->
                <value>classpath:/org/focusns/dao/event/impl/EventCategoryMapper.xml</value>
                <value>classpath:/org/focusns/dao/event/impl/EventMapper.xml</value>

                <!-- photo -->
                <value>classpath:/org/focusns/dao/photo/impl/AlbumMapper.xml</value>
                <value>classpath:/org/focusns/dao/photo/impl/PhotoMapper.xml</value>

                <!-- team -->
                <value>classpath:/org/focusns/dao/team/impl/TeamMemberMapper.xml</value>

                <!-- message -->
                <value>classpath:/org/focusns/dao/msg/impl/MessageMapper.xml</value>
                <!--
                <value>classpath:/org/focusns/dao/msg/impl/MessageBoxMapper.xml</value>
                -->
			</set>
		</property>
	</bean>

</beans>
