<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- global definition -->
    <util:properties id="application" location="file:${user.home}/.focusns/application.properties" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="localOverride" value="true" />
        <property name="properties" ref="application" />
    </bean>

    <!-- import other layer definition -->
    <import resource="classpath:applicationContext-dao.xml" />
    <import resource="classpath:applicationContext-event.xml" />
    <import resource="classpath:applicationContext-service.xml" />
    <import resource="classpath:applicationContext-cache.xml" />
    <import resource="classpath:applicationContext-validation.xml" />

</beans>
