<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan base-package="org.focusns.event">
		<context:include-filter type="annotation" expression="org.focusns.common.event.annotation.EventSubscriber" />
	</context:component-scan>
    
    <task:annotation-driven executor="taskExecutor" />
    
	<task:executor id="taskExecutor" pool-size="50" />
    
    <aop:aspectj-autoproxy>
        <aop:include name="eventInterceptor" />
    </aop:aspectj-autoproxy>

    <!-- Event Interceptor -->
    <bean id="eventInterceptor" class="org.focusns.common.event.support.EventInterceptor" />

    <!-- Event Multicaster -->
    <bean id="applicationEventMulticaster" class="org.focusns.common.event.support.EventMulticaster">
        <property name="taskExecutor" ref="taskExecutor" />
    </bean>
    
</beans>
